<div
    flex
    layout="row"
    class="md-dashboard"
    ng-class="{'md-sidenav-left-visible': dashboard.cuerpo.sidenav.hasOpen}"
>
  <md-sidenav
      md-whiteframe="4dp"
      md-component-id="left"
      class="md-sidenav-left"
      layout="column"
  >
    <md-toolbar
        md-whiteframe="2"
        layout="row"
    >
      <div
        flex
        class="md-toolbar-tools"
        layout-align="space-between center"
      >
        <span>Empresa {{ dashboard.cuerpo.empresa }}</span>
      </div>
      <div>
        <md-button
          class="md-icon-button md-primary md-secondary md-warn md-button md-ink-ripple  ng-scope"
          ng-click="dashboard.cuerpo.sidenav.close('left')"
        >
          <md-icon md-svg-icon="close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content
        flex
        md-lazy-load-container
    >
      <div
        flex
        layout-padding
        layout="column"
      >
        <div
          flex="20"
          layout="column"
          style="background:#cacaca; border-radius: 5px;"
        >
          <div
            flex
          >
            <img
              style="
                background-repeat: no-repeat;
                background-size: cover;
                height:30%;
                width:30%;"
              ng-src="{{dashboard.cuerpo.image}}"
              class="md-avatar"
            />
          </div>
        </div>
        <div
          layout-margin
          md-whiteframe="1"
        >
          <md-list flex>
            <md-list-item
              class="md-1-line"
              ng-repeat="item in dashboard.cuerpo.menu.list"
              ng-class="{'checkmenu': item.check}"
              ng-show="item.disable"
            >
              <div
                class="curso"
                layout="column"
              >
                <h4
                  layout="column"
                  class="curso"
                  ng-click="dashboard.cuerpo.menu.select($index)"
                >
                  <div
                    flex
                    class="curso men"
                  >
                    <span class="menuname">{{ item.name }}</span>
                  </div>
                </h4>
                <h4
                  ng-repeat="sub in item.sublist"
                  ui-sref="{{sub.sref}}"
                  ng-if="item.check"
                  ng-class="{'checkmenu': sub.check}"
                  ng-click="dashboard.cuerpo.menu.checkmenu($index, item)"
                  layout="column"
                  layout-margin
                  class="men"
                  ng-show="sub.disable"
                >
                  <div
                    flex
                    class="curso"
                  >
                    <span class="menuname">{{ sub.name }}</span>
                  </div>
                </h4>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </md-content>
  </md-sidenav>
  <div
      flex
      layout="column"
  >
    <md-toolbar
        md-whiteframe="4dp"
        class="md-primary md-hue-2"
        layout="row"
    >
      <div
        flex
        layout="column"
      >
        <div class="md-toolbar-tools">
          <div
              layout="row"
              layout-align="center center"
          >
            <!-- <md-button
                ng-show="!gtsm"
                ng-click="dashboard.cuerpo.sidenav.open('left')"
                class="md-icon-button"
            >
              <md-icon md-svg-icon="menu" ></md-icon>
            </md-button> -->
            <md-button
              ng-click="dashboard.cuerpo.sidenav.open('left')"
              class="md-icon-button"
            >
              <md-icon md-svg-icon="menu" ></md-icon>
            </md-button>
            <!-- <md-button
                ng-if="gtsm"
                ng-click="dashboard.cuerpo.sidenav.hasOpen = !dashboard.cuerpo.sidenav.hasOpen;"
                class="md-icon-button"
            >
              <md-icon md-svg-icon="{{ dashboard.cuerpo.sidenav.hasOpen?'menu-left':'menu' }}"></md-icon>
              <md-tooltip>
                {{ dashboard.cuerpo.sidenav.hasOpen?'Cerrar':'Abrir' }} Menú
              </md-tooltip>
            </md-button> -->
            <h3>
              Bienvenido a Dilisap
            </h3>
          </div>
        </div>
      </div>
      <div
        layout="row"
        layout-padding
      >
        <div
          flex
          class="curso"
          ng-click="dashboard.cuerpo.sidenav.open('right')"
        >
          <span>Jose</span>
        </div>
      </div>
    </md-toolbar>
    <md-content
        flex
        layout="column"
        ui-view
    >
      <span>Principal</span>
    </md-content>
    <!-- <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright &copy; 2018 <a href="www.incanatoit.com">Dilisap</a>.</strong> All rights reserved.
    </footer> -->
  </div>
  <md-sidenav
      md-whiteframe="4dp"
      class="md-sidenav-right"
      md-component-id="right"
      layout="column"
  >
    <md-toolbar
        md-whiteframe="2"
    >
      <div
          class="md-toolbar-tools"
          layout-align="space-between center"
      >
      <span>Mensajes</span>
    </div>
    </md-toolbar>
    <md-content
        flex
        md-lazy-load-container
    >

    </md-content>
  </md-sidenav>
</div>
