<div
    flex
    layout="column"
    ui-view
>
  <md-subheader
      md-whiteframe="2"
      class="md-primary md-hue-1"
      style="border-radius:10px"
  >
    <form
      flex
      layout="row"
      ng-submit="producto.cuerpo.search.restart()"
      layout-margin
    >
      <md-input-container flex>
        <label>Buscador de Productos</label>
        <input type="text" ng-model="producto.cuerpo.search.txt">
      </md-input-container>
      <md-button
        type = "submit"
        class="md-icon-button  md-primary md-secondary md-raised"
      >
        <md-icon md-svg-icon="magnify"></md-icon>
        <md-tooltip>
          Buscador de productos
        </md-tooltip>
      </md-button>
      <md-button
        ng-click="producto.cuerpo.btn.editar($event)"
        class="md-icon-button md-primary md-secondary md-raised"
      >
        <md-icon
         md-svg-icon="plus-circle-outline"
        >
      </md-button>
    </form>
  </md-subheader>
  <md-content
    flex
    layout="column"
    md-whiteframe="2"
    md-lazy-load-container
    md-scroll="producto.scroll.on()"
    md-scroll-top="producto.scroll.top"
    md-scroll-offset="producto.scroll.offset"
    md-scroll-has-view="producto.scroll.hasView"
  >
    <div
      flex
      class="table-responsive"
      layout-margin
    >
      <table
        class="table table-striped table-bordered table-condensed table-hover"
        layout-padding
      >
        <thead
          layout-padding
          class="thead-dark md-table-color"
        >
          <th>
            Foto
          </th>
          <th>
            Codigo
          </th>
          <th>
            Titulo
          </th>
          <th>
            Estado
          </th>
          <th>
            Precio Compra
          </th>
          <th>
            Precio Venta
          </th>
          <th>
            Vistas
          </th>
          <!-- <th>
            Cantidad Sock
          </th> -->
          <th>
            Cantidad Total
          </th>
          <th>
            Unidad
          </th>
          <th>
            Categorias
          </th>
          <th>
            Megustas
          </th>
          <th>
            No Megustas
          </th>
          <!-- <th>
            Fecha Vencimiento
          </th> -->
          <th>
            Creado
          </th>
          <th>
            Actualizado
          </th>
          <th>
            Opciones
          </th>
        </thead>
        <tr
          ng-repeat="item in producto.cuerpo.search.items"
          class="md-3-line"
        >
          <td>
            <img
              class="md-avatar"
              style="background-image: url('images/images.jpg')"
              height="100px"
              width="100px"
            >
          </td>
          <td>
            {{ item.codigo }}
          </td>
          <td>
            {{ item.titulo }}
          </td>
          <td>
            {{ item.estado }}
          </td>
          <td>
            {{ item.proeciocompra }}
          </td>
          <td>
            {{ item.precioventa }}
          </td>
          <td>
            {{ item.vistas }}
          </td>
          <!-- <td>
            {{ item.cantidadstock || 0 }}
          </td> -->
          <td>
            {{ item.cantidadtotal || 0 }}
          </td>
          <td>
            {{ item.unidad }}
          </td>
          <td>
            <div ng-repeat="categoria in item.categoria">
              {{ categoria.titulo }}
            </div>
          </td>
          <td>
            {{ item.megusta }}
          </td>
          <td>
            {{ item.nomegusta }}
          </td>
          <!-- <td>
            {{ item.fechavencimiento | amDateFormat:'DD/MM/YYYY HH:mm' }}
          </td> -->
          <td>
            {{ item.createdAt | amDateFormat:'DD/MM/YYYY' }}
          </td>
          <td>
            {{ item.updatedAt | amDateFormat:'DD/MM/YYYY' }}
          </td>
          <td
            layout="column"
          >
            <md-button
              ng-click="producto.cuerpo.btn.editar($event, item)"
              class="md-icon-button md-primary md-secondary md-raised"
            >
              <md-icon
               md-svg-icon="pen"
              >
            </md-button>
            <md-button
              ng-click="producto.cuerpo.search.eliminar($event, item, $index)"
              class="md-icon-button md-primary md-secondary md-raised md-warn md-button md-ink-ripple  ng-scope"
            >
              <md-icon
               md-svg-icon="close"
              >
            </md-button>
          </td>
        </tr>
      </table>
      <div
        layout="row"
        layout-align="center center"
      >
        <div>
          <md-button
            ng-if="producto.cuerpo.search.numItems > producto.cuerpo.search.items.length"
            ng-click="producto.cuerpo.search.scrollpaginate()"
          >
            <md-icon md-svg-icon="chevron-double-down"></md-icon>
            <md-tooltip>
              Ver Mas
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
  </md-content>
</div>
