<div
  flex
  layout="column"
  ui-view
  md-whiteframe="2dp"
  layout-margin
>
  <div
    layout="row"
    layout-padding
    md-whiteframe="4dp"
  >
    <div>
      <h4>Reportes</h4>
    </div>
  </div>
  <md-grid-list
    md-cols-xs="1"
    md-cols-sm="2"
    md-cols-md="4"
    md-cols-gt-md="4"
    md-row-height="3:3"
    md-row-height-gt-md="3:3"
    md-gutter="12px"
    md-gutter-gt-sm="8px"
  >
    <md-grid-tile
        md-colspan-sm="1"
        md-colspan-xs="1"
        md-whiteframe="1"
        ng-click="reportes.cuerpo.btn.ver()"
    >
      <div
          class="md-grid-tile-content"
      >
        <md-grid-tile-header>
          <h3>Inventario</h3>
        </md-grid-tile-header>
        <div
            layout="column"
            layout-align="center center"
            class="md-grid-tile-content-body"
        >
          <div
              flex
              layout="row"
              class="chart-container"
          >
            <canvas
                class="chart chart-doughnut flex"
                chart-data="reportes.cuerpo.inventario.dataPie"
                chart-labels="reportes.cuerpo.inventario.labelsPie"
                chart-legend="reportes.cuerpo.inventario.legendPie"
            ></canvas>
          </div>
        </div>
      </div>
    </md-grid-tile>
    <md-grid-tile
        md-colspan-sm="1"
        md-colspan-xs="1"
        md-whiteframe="1"
    >
      <div
          class="md-grid-tile-content"
      >
        <md-grid-tile-header>
          <h3>Caja</h3>
        </md-grid-tile-header>
        <div
            layout="column"
            layout-align="center center"
            class="md-grid-tile-content-body"
        >
          <div
              flex
              layout="row"
              class="chart-container"
          >
            <canvas
                class="chart chart-doughnut flex"
                chart-data="reportes.cuerpo.facturas.dataPie"
                chart-labels="reportes.cuerpo.facturas.labelsPie"
                chart-legend="reportes.cuerpo.facturas.legendPie"
            ></canvas>
          </div>
        </div>
      </div>
    </md-grid-tile>
    <md-grid-tile
        md-colspan-sm="1"
        md-colspan-xs="1"
        md-whiteframe="1"
    >
      <div
          class="md-grid-tile-content"
      >
        <md-grid-tile-header>
          <h3>Personas</h3>
        </md-grid-tile-header>
        <div
            layout="column"
            layout-align="center center"
            class="md-grid-tile-content-body"
        >
          <div
              flex
              layout="row"
              class="chart-container"
          >
            <canvas
                class="chart chart-doughnut flex"
                chart-data="reportes.cuerpo.persona.dataPie"
                chart-labels="reportes.cuerpo.persona.labelsPie"
                chart-legend="reportes.cuerpo.persona.legendPie"
            ></canvas>
          </div>
        </div>
      </div>
    </md-grid-tile>
    <md-grid-tile
        md-colspan-sm="1"
        md-colspan-xs="1"
        md-whiteframe="1"
    >
      <div
          class="md-grid-tile-content"
      >
        <md-grid-tile-header>
          <h3>Mensajes</h3>
        </md-grid-tile-header>
        <div
            layout="column"
            layout-align="center center"
            class="md-grid-tile-content-body"
        >
          <div
              flex
              layout="row"
              class="chart-container"
          >
            <canvas
                class="chart chart-doughnut flex"
                chart-data="reportes.cuerpo.mensaje.dataPie"
                chart-labels="reportes.cuerpo.mensaje.labelsPie"
                chart-legend="reportes.cuerpo.mensaje.legendPie"
            ></canvas>
          </div>
        </div>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
