<div
    flex
    layout="column"
    ui-view
>
  <md-tabs
      flex
      class="md-primary flex"
      md-stretch-tabs="always"
      md-selected="selectedIndex"
      md-border-bottom md-autoselect md-swipe-content
    >
    <md-tab flex>
      <md-tab-label>
        <label>Barrio</label>
      </md-tab-label>
      <md-tab-body>
        <div
          flex
          layout-fill
          layout="column"
          layout-margin
          ng-include="'views/partials/ubicacion-barrio.html'">

        </div>
      </md-tab-body>
    </md-tab>
    <md-tab flex>
      <md-tab-label>
        <label>Ciudad</label>
      </md-tab-label>
      <md-tab-body>
        <div
          flex
          layout-fill
          layout="column"
          layout-margin
          ng-include="'views/partials/ubicacion-ciudad.html'">

        </div>
      </md-tab-body>
    </md-tab>
    <md-tab flex>
      <md-tab-label>
        <label>Departamento</label>
      </md-tab-label>
      <md-tab-body>
        <div
          flex
          layout-fill
          layout="column"
          layout-margin
          ng-include="'views/partials/ubicacion-departamento.html'">

        </div>
      </md-tab-body>
    </md-tab>
    <md-tab flex>
      <md-tab-label>
        <label>Pais</label>
      </md-tab-label>
      <md-tab-body>
        <div
          flex
          layout-fill
          layout="column"
          layout-margin
          ng-include="'views/partials/ubicacion-pais.html'">

        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
