<section
  flex
  layout="column"
  layout-fill
>
  <div
    flex="10"
    layout="row"
    md-whiteframe="1dp"
  >
    <div
      flex
      layout="column"
      layout-gt-xs="row"
      md-whiteframe="1dp"
    >
      <div
        flex
        layout="column"
        layout-padding
        layout-align="center center"
      >
        <img
          md-whiteframe="4dp"
          ng-src="{{ idx.cuerpo.logo }}"
          height="100px"
          width="100px"
          class="img-thumbnail"
        >
      </div>
      <div
        flex
        layout="column"
        layout-padding
      >
        <h4>{{ idx.cuerpo.detalles.empresa }}</h4>
        <h6>Encargado: {{ idx.cuerpo.detalles.encargado }}</h6>
        <h6>Nit: {{ idx.cuerpo.detalles.nit }}</h6>
        <h6>Dirección: {{ idx.cuerpo.detalles.direccion }}</h6>
        <h6>PBX: {{ idx.cuerpo.detalles.pbx }}</h6>
      </div>
    </div>
    <div
      flex
      layout="column"
    >
      <div
        flex
        layout-align="center center"
        md-whiteframe="4dp"
        layout="column"
      >
        <h5> R.U.T: {{ idx.cuerpo.detalles.rut }}</h5>
        <h5>{{ idx.cuerpo.opt }} {{ idx.cuerpo.factura }}</h5>
        <!-- <h5>N* {{ idx.cuerpo.data.numero }}</h5> -->
        <md-input-container>
          <label>Numero</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.numero"
          >
        </md-input-container>
        <md-input-container
          flex
        >
          <label>Fecha</label>
          <input
            type="datetime"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.fecha"
          >
        </md-input-container>
      </div>
    </div>
  </div>
  <section
    layout="column"
    md-whiteframe="1dp"
  >
    <md-subheader
      md-whiteframe="4dp"
      class="md-primary"
    >
      <span ng-if="!idx.cuerpo.data.disable">CLiente</span>
      <span ng-if="idx.cuerpo.data.disable">Proveedor</span>
    </md-subheader>
    <div
      flex
      layout="column"
      layout-margin
    >
      <div
        flex
        layout="row"
      >
        <md-autocomplete
            flex
            required
            ng-disabled="idx.cuerpo.data.id"
            md-input-name="Cliente"
            md-selected-item="idx.cuerpo.relacion.usuario"
            md-selected-item-change="idx.cuerpo.usuario.itemChange('cliente')"
            md-search-text="idx.cuerpo.usuario.searchText"
            md-search-text-change="idx.cuerpo.usuario.searchTextChange()"
            md-items="item in idx.cuerpo.usuario.querySearch(true)"
            md-item-text="item.nombre"
            md-floating-label="Cliente"
        >
          <md-item-template>
            <span md-highlight-text="idx.cuerpo.usuario.searchText">
              {{ item.nombre }}
            </span>
          </md-item-template>
        </md-autocomplete>
        <md-input-container
          flex
        >
          <label>Documento</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.usuario.documento"
          >
        </md-input-container>
      </div>
      <div
        flex
        layout="row"
      >
        <md-input-container
          flex
        >
          <label>Direccion</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.usuario.direccion"
          >
        </md-input-container>
        <md-input-container
          flex
        >
          <label>Telefono</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.usuario.telefono"
          >
        </md-input-container>
      </div>
    </div>
  </section>
  <section
    layout="column"
    ng-if="!idx.cuerpo.data.disable"
    md-whiteframe="1dp"
  >
    <md-subheader
      md-whiteframe="4dp"
      class="md-primary"
    >
      Vendedor
    </md-subheader>
    <div
      flex
      layout="column"
      layout-margin
    >
      <div
        flex
        layout="row"
      >
        <md-autocomplete
            flex
            required
            ng-disabled="idx.cuerpo.data.id"
            md-input-name="Cliente"
            md-selected-item="idx.cuerpo.relacion.vendedor"
            md-selected-item-change="idx.cuerpo.vendedor.itemChange('vendedor')"
            md-search-text="idx.cuerpo.vendedor.searchText"
            md-search-text-change="idx.cuerpo.vendedor.searchTextChange()"
            md-items="item in idx.cuerpo.vendedor.querySearch()"
            md-item-text="item.nombre"
            md-floating-label="Cliente"
        >
          <md-item-template>
            <span md-highlight-text="idx.cuerpo.vendedor.searchText">
              {{ item.nombre }}
            </span>
          </md-item-template>
        </md-autocomplete>
        <md-input-container
          flex
        >
          <label>Documento</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.vendedor.documento"
          >
        </md-input-container>
      </div>
      <div
        flex
        layout="row"
      >
        <md-input-container
          flex
        >
          <label>Direccion</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.vendedor.direccion"
          >
        </md-input-container>
        <md-input-container
          flex
        >
          <label>Telefono</label>
          <input
            type="text"
            ng-disabled="idx.cuerpo.data.id"
            ng-model="idx.cuerpo.data.vendedor.telefono"
          >
        </md-input-container>
      </div>
    </div>
  </section>
  <section
    flex
    layout="column"
  >
    <md-subheader
      md-whiteframe="4dp"
      class="md-primary"
    >
      <div
        flex
        layout="row"
      >
        <div
          flex
        >
          <span ng-if="!idx.cuerpo.data.disable">Productos</span>
          <span ng-if="idx.cuerpo.data.disable">Compras</span>
        </div>
        <md-button
          ng-disabled="idx.cuerpo.data.id"
          class="md-icon-button md-primary md-secondary md-raised"
          ng-click="idx.cuerpo.generar()"
        >
          <md-icon md-svg-icon="plus-circle-outline"></md-icon>
        </md-button>
      </div>
    </md-subheader>
    <div
      flex
      layout="column"
    >
      <md-list
        flex
      >
        <md-list-item
          flex
          ng-repeat="item in idx.cuerpo.producto.search.selected"
        >
          <div flex layout="column">
            <div
              flex
              layout="row"
            >
              <md-input-container
                flex
                ng-if="idx.cuerpo.data.disable"
              >
                <label>Tipo</label>
                <md-select
                  ng-model="item.tipo"
                  ng-disabled="idx.cuerpo.data.id"
                  class="md-no-underline"
                >
                  <md-option
                    value="producto"
                  >
                    Producto
                  </md-option>
                  <md-option
                    value="materiaprima"
                  >
                    Materiaprima
                  </md-option>
                  <md-option
                    value="materiaprocesada"
                  >
                    Materia prima procesada
                  </md-option>
                  <md-option
                    value="servicio"
                  >
                    Servicio
                  </md-option>
                  <md-option
                    value="inmuebles"
                  >
                    Inmuebles
                  </md-option>
                </md-select>
              </md-input-container>
              <md-autocomplete
                 flex
                 ng-disabled="idx.cuerpo.data.id"
                 md-floating-label="{{ item.tipo || 'producto'}}"
                 md-item-text="item.titulo"
                 md-selected-item="item.titulo"
                 md-selected-item-change="idx.cuerpo.producto.itemChange(item, $index)"
                 md-search-text="idx.cuerpo.producto.searchText[$index]"
                 md-items="item in idx.cuerpo.producto.querySearch($index, item.tipo)"
                 >
              <md-item-template>
                <span
                  md-highlight-text="idx.cuerpo.producto.searchText[$index]"
                  md-highlight-flags="^i"
                  >
                  {{item.titulo}}
                </span>
              </md-item-template>
              </md-autocomplete>
              <md-input-container
                flex
              >
                <label>Cantidad</label>
                <input
                  type="number"
                  ng-disabled="idx.cuerpo.data.id"
                  ng-model="item.cantidadadquiridad"
                  ng-blur="idx.cuerpo.blurprecio(item, idx)"
                >
              </md-input-container>
              <md-input-container
                flex
              >
                <label>Unidad</label>
                <input
                  type="text"
                  disabled
                  ng-model="item.unidad"
                >
              </md-input-container>
              <md-input-container
                flex
              >
                <label>Precio</label>
                <input
                  type="text"
                  ng-disabled="idx.cuerpo.data.id"
                  ng-model="item.precioventa"
                >
              </md-input-container>
              <md-input-container
                flex
              >
                <label>Total</label>
                <input
                  disabled
                  type="text"
                  ng-disabled="idx.cuerpo.data.id"
                  ng-model="item.totalprecio"
                >
              </md-input-container>
              <div
                layout="column"
              >
                <md-button
                  class="md-icon-button md-primary md-secondary md-raised"
                  ng-click="idx.cuerpo.producto.borrar(item, $index)"
                  ng-disabled="idx.cuerpo.data.id"
                  >
                  <span
                    ng-if="!item.check"
                  >
                    <md-icon md-svg-icon="check"></md-icon>
                  </span>
                  <span
                    ng-if="item.check"
                  >
                    <md-icon md-svg-icon="close"></md-icon>
                  </span>
                </md-button>
              </div>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </section>
  <section
    ng-include="'views/partials/contrato-pago.html'">
  >
  </section>
</section>
