<md-content
  flex
  layout="column"
>
  <section
    flex
  >
    <md-subheader
      md-whiteframe="4dp"
      class="md-primary"
    >
      Pagos
    </md-subheader>
    <div
      layout-margin
      layout="column"
    >
      <div
        flex
        layout="row"
        md-whiteframe="3dp"
        layout-align="space-around center"
      >
        <div
          layout="column"
          layout-padding
          ng-repeat="item in idx.cuerpo.pago"
        >
          <md-input-container
            flex
          >
            <md-checkbox
              ng-model="item.ids"
              ng-disabled="idx.cuerpo.data.id"
            >
              {{ item.titulo }}
            </md-checkbox>
          </md-input-container>
          <md-input-container
            flex
            ng-if="item.tipos.length && item.ids"
          >
            <label>Tipos</label>
            <md-select
              class="md-no-underline"
              ng-model="item.tipopt"
            >
              <md-option
                ng-value="key.id"
                ng-repeat="key in item.tipos"
              >
                {{ key.titulo }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container
            flex
            ng-if="item.ids"
          >
            <label>Cantidad</label>
            <input
              type="number"
              ng-disabled="idx.cuerpo.data.id"
              ng-model="item.cantidad"
              ng-keyup="idx.cuerpo.suma()"
            >
          </md-input-container>
        </div>
      </div>
      <div
        flex
        layout="row"
      >
      <md-input-container
        flex
      >
        <label>Total</label>
        <input
          type="number"
          disabled
          ng-model="idx.cuerpo.data.total"
        >
      </md-input-container>
      <md-input-container
        flex
      >
        <label>Vueltos</label>
        <input
          type="number"
          disabled
          ng-model="idx.cuerpo.data.vueltos"
        >
      </md-input-container>
      </div>
      <div
        flex
        layout="row"
      >
      <md-input-container
        flex
      >
        <label>Total a Pagar</label>
        <input
          type="number"
          disabled
          ng-model="idx.cuerpo.data.totalpagar"
        >
      </md-input-container>
      <md-input-container
        flex
      >
        <label>Vueltos</label>
        <input
          type="number"
          disabled
          ng-model="idx.cuerpo.data.vueltostotal"
        >
      </md-input-container>
      </div>
    </div>
  </section>
</md-content>
