<md-content
  flex
  layout="column"
>
  <section
    flex
    layout="column"
  >
    <md-subheader
      md-whiteframe="4dp"
      class="md-primary"
    >
      <span
        ng-if="!idx.cuerpo.data.disable"
      >
        CLiente
      </span>
      <span
        ng-if="idx.cuerpo.data.disable"
      >
        Proveedor
      </span>
    </md-subheader>
    <div
      layout="row"
    >
      <md-autocomplete
          flex
          required
          ng-disabled="idx.cuerpo.data.id"
          md-input-name="Cliente"
          md-input-minlength="2"
          md-input-maxlength="18"
          md-no-cache="true"
          md-selected-item="idx.cuerpo.relacion.usuario"
          md-selected-item-change="idx.cuerpo.usuario.itemChange('cliente')"
          md-search-text="idx.cuerpo.usuario.searchText"
          md-search-text-change="idx.cuerpo.usuario.searchTextChange()"
          md-items="item in idx.cuerpo.usuario.querySearch(true)"
          md-item-text="item.nombre"
          md-floating-label="Nombre"
      >
        <md-item-template>
          <span md-highlight-text="idx.cuerpo.usuario.searchText">
            {{ item.nombre }}
          </span>
        </md-item-template>
      </md-autocomplete>
      <md-input-container
        flex
      >
        <label>Apellido</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.usuario.apellido"
        >
      </md-input-container>
    </div>
    <div
      layout="row"
    >
      <md-autocomplete
         flex
         ng-disabled="idx.cuerpo.data.id"
         md-floating-label="Barrio"
         md-item-text="item.titulo"
         md-selected-item="idx.cuerpo.data.usuario.barrio"
         md-search-text="idx.cuerpo.barrio.searchText"
         md-items="item in idx.cuerpo.barrio.search()"
         >
      <md-item-template>
        <span
          md-highlight-text="idx.cuerpo.barrio.searchText"
          md-highlight-flags="^i"
          >
          {{item.titulo}}
        </span>
      </md-item-template>
      </md-autocomplete>
      <md-input-container
        flex
      >
        <label>Direccion</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.vendedor.direccion"
        >
      </md-input-container>
      <md-autocomplete
         flex
         md-floating-label="Ciudad"
         ng-disabled="idx.cuerpo.data.id"
         md-item-text="item.titulo"
         md-selected-item="idx.cuerpo.data.usuario.ciudad"
         md-search-text="idx.cuerpo.ciudad.searchText"
         md-items="item in idx.cuerpo.ciudad.search()"
         >
      <md-item-template>
        <span
          md-highlight-text="idx.cuerpo.ciudad.searchText"
          md-highlight-flags="^i"
          >
          {{item.titulo}}
        </span>
      </md-item-template>
      </md-autocomplete>
    </div>
    <div
      layout="row"
    >
      <md-input-container flex>
        <label>Tipo Documento</label>
        <md-select
          ng-model="idx.cuerpo.data.usuario.doctipo"
          class="md-no-underline"
          ng-disabled="idx.cuerpo.data.id"
        >
          <md-option
            value="cc"
          >
            CC
          </md-option>
          <md-option
            value="exc"
          >
            Exc
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container
        flex
      >
        <label>Documento</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.usuario.documento"
        >
      </md-input-container>
      <md-input-container
        flex
      >
        <label>Telefono</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.vendedor.telefono"
        >
      </md-input-container>
    </div>
    <div
      flex
      layout="row"
    >

    </div>
  </section>
  <section
    flex
    layout="column"
    ng-if="!idx.cuerpo.data.disable"
  >
    <md-subheader
      md-whiteframe="4dp"
      class="md-primary"
    >
      Vendedor
    </md-subheader>
    <div
      layout="row"
    >
      <md-autocomplete
          flex
          required
          ng-disabled="idx.cuerpo.data.id"
          md-input-name="Cliente"
          md-input-minlength="2"
          md-input-maxlength="18"
          md-no-cache="true"
          md-selected-item="idx.cuerpo.relacion.vendedor"
          md-selected-item-change="idx.cuerpo.vendedor.itemChange('vendedor')"
          md-search-text="idx.cuerpo.vendedor.searchText"
          md-search-text-change="idx.cuerpo.vendedor.searchTextChange()"
          md-items="item in idx.cuerpo.vendedor.querySearch()"
          md-item-text="item.nombre"
          md-floating-label="Nombre"
      >
        <md-item-template>
          <span md-highlight-text="idx.cuerpo.vendedor.searchText">
            {{ item.nombre }}
          </span>
        </md-item-template>
      </md-autocomplete>
      <md-input-container
        flex
      >
        <label>Apellido</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.vendedor.apellido"
        >
      </md-input-container>
    </div>
    <div
      layout="row"
    >
      <md-input-container flex>
        <label>Tipo Documento</label>
        <md-select
          ng-model="idx.cuerpo.data.vendedor.doctipo"
          class="md-no-underline"
          ng-disabled="idx.cuerpo.data.id"
        >
          <md-option
            value="cc"
          >
            CC
          </md-option>
          <md-option
            value="exc"
          >
            Exc
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container
        flex
      >
        <label>Documento</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.vendedor.documento"
        >
      </md-input-container>
      <md-input-container
        flex
      >
        <label>Telefono</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.vendedor.telefono"
        >
      </md-input-container>
    </div>
    <div
      flex
      layout="row"
    >
      <md-autocomplete
         flex
         ng-disabled="idx.cuerpo.data.id"
         md-floating-label="Barrio"
         md-item-text="item.titulo"
         md-selected-item="idx.cuerpo.data.vendedor.barrio"
         md-search-text="idx.cuerpo.barrio.searchText"
         md-items="item in idx.cuerpo.barrio.search()"
         >
      <md-item-template>
        <span
          md-highlight-text="idx.cuerpo.barrio.searchText"
          md-highlight-flags="^i"
          >
          {{item.titulo}}
        </span>
      </md-item-template>
      </md-autocomplete>
      <md-input-container
        flex
      >
        <label>Direccion</label>
        <input
          type="text"
          ng-disabled="idx.cuerpo.data.id"
          ng-model="idx.cuerpo.data.vendedor.direccion"
        >
      </md-input-container>
      <md-autocomplete
         flex
         md-floating-label="Ciudad"
         md-item-text="item.titulo"
         ng-disabled="idx.cuerpo.data.id"
         md-selected-item="idx.cuerpo.data.vendedor.ciudad"
         md-search-text="idx.cuerpo.ciudad.searchText"
         md-items="item in idx.cuerpo.ciudad.search()"
         >
      <md-item-template>
        <span
          md-highlight-text="idx.cuerpo.ciudad.searchText"
          md-highlight-flags="^i"
          >
          {{item.titulo}}
        </span>
      </md-item-template>
      </md-autocomplete>
    </div>
  </section>
</md-content>
