<form
  flex
  layout="column"
  layout-padding
>
  <div
    layout="row"
    md-whiteframe="1dp"
  >
  <md-input-container
    flex
  >
    <label>Nombre de la Empresa</label>
    <input
      type="text"
      ng-model="general.cuerpo.data.titulo"
      ng-blur="general.cuerpo.blur('titulo')"
    >
  </md-input-container>
  </div>
  <div
    layout="row"
    md-whiteframe="1dp"
    layout-margin
  >
    <div
      flex
      layout="column"
    >
      <div
        flex
        layout="row"
      >
      <md-input-container flex>
        <label>Tipo de Contribuyentes</label>
        <md-select
          class="md-no-underline"
          ng-model="general.cuerpo.data.tipocontribuyente"
          ng-blur="general.cuerpo.blur('tipocontribuyente')"
        >
          <md-option
            value="regimen-simplificado"
          >
            Regimen Simplificado
          </md-option>
          <md-option
            value="regimencomun"
          >
            Regimen Comun
          </md-option>
          <md-option
            value="contribuyentes"
          >
            Contribuyentes
          </md-option>
        </md-select>
      </md-input-container>
        <md-input-container
          flex
        >
          <label>Identificación Nit/Cd</label>
          <input
            type="text"
            ng-model="general.cuerpo.data.identificacion"
            ng-blur="general.cuerpo.blur('identificacion')"
          >
        </md-input-container>
      </div>
      <div
        flex
        layout="row"
      >
        <md-input-container
          flex
        >
          <label>Último Cierre Contable</label>
          <input
            mdc-datetime-picker
            date="true"
            time="true"
            type="text"
            id="time"
            short-time="true"
            show-todays-date
            click-outside-to-close="true"
            placeholder="Time" auto-ok="true"
            min-date="minDate" minute-steps="1"
            format="YYYY-MM-DD HH:mm"
            ng-change="vm.saveChange()"
            ng-model="general.cuerpo.data.cierrecontable"
            ng-blur="general.cuerpo.blur('cierrecontable')"
            >
        </md-input-container>
        <md-input-container
          flex
        >
          <label>Actividad Económica</label>
          <md-select
            class="md-no-underline"
            ng-model="general.cuerpo.data.actividadeconomica"
            ng-blur="general.cuerpo.blur('actividadeconomica')"
          >
            <md-option
              value="empresa-general"
            >
              Empresa General
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div
        flex
        layout="row"
      >
        <md-input-container
          flex
        >
          <label>Ofrece</label>
          <md-select
            class="md-no-underline"
            ng-model="general.cuerpo.data.ofrece"
            ng-blur="general.cuerpo.blur('ofrece')"
          >
            <md-option
              value="productos"
            >
              Producto
            </md-option>
            <md-option
              value="servicios"
            >
              Servicios
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container
          flex
        >
          <label>Tipo Empresa</label>
          <md-select
            class="md-no-underline"
            ng-model="general.cuerpo.data.tipo"
            ng-blur="general.cuerpo.blur('tipo')"
          >
            <md-option
              value="sucursal"
            >
              Sucursal
            </md-option>
            <md-option
              value="bodega"
            >
              Bodega
            </md-option>
            <md-option
              value="principal"
            >
              Principal
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div
      flex
      layout="column"
    >
      <div
        flex
        layout="row"
      >
        <md-input-container
          flex
        >
          <label>Dirección</label>
          <input
            type="text"
            ng-model="general.cuerpo.data.direccion"
            ng-blur="general.cuerpo.blur('direccion')"
          >
        </md-input-container>
        <md-autocomplete
           flex
           md-floating-label="Pais"
           md-item-text="item.titulo"
           md-selected-item="general.cuerpo.data.pais"
           md-search-text="general.cuerpo.pais.searchText"
           md-items="item in general.cuerpo.pais.search()"
           ng-blur="general.cuerpo.blur('pais')"
           >
        <md-item-template>
          <span
            md-highlight-text="general.cuerpo.pais.searchText"
            md-highlight-flags="^i"
            >
            {{item.titulo}}
          </span>
        </md-item-template>
        </md-autocomplete>
        <md-autocomplete
           flex
           md-floating-label="Departamento"
           md-item-text="item.titulo"
           md-selected-item="general.cuerpo.data.departamento"
           md-search-text="general.cuerpo.departamento.searchText"
           md-items="item in general.cuerpo.departamento.search()"
           ng-blur="general.cuerpo.blur('departamento')"
           >
        <md-item-template>
          <span
            md-highlight-text="general.cuerpo.general.searchText"
            md-highlight-flags="^i"
            >
            {{item.titulo}}
          </span>
        </md-item-template>
        </md-autocomplete>
      </div>
      <div
        flex
        layout="row"
      >
        <md-autocomplete
           flex
           md-floating-label="Ciudad"
           md-item-text="item.titulo"
           md-selected-item="general.cuerpo.data.ciudad"
           md-search-text="general.cuerpo.ciudad.searchText"
           md-items="item in general.cuerpo.ciudad.search()"
           ng-blur="general.cuerpo.blur('ciudad')"
           >
        <md-item-template>
          <span
            md-highlight-text="general.cuerpo.ciudad.searchText"
            md-highlight-flags="^i"
            >
            {{item.titulo}}
          </span>
        </md-item-template>
        </md-autocomplete>
        <md-autocomplete
           flex
           md-floating-label="Barrio"
           md-item-text="item.titulo"
           md-selected-item="general.cuerpo.data.barrio"
           md-search-text="general.cuerpo.barrio.searchText"
           md-items="item in general.cuerpo.barrio.search()"
           ng-blur="general.cuerpo.blur('barrio')"
           >
        <md-item-template>
          <span
            md-highlight-text="general.cuerpo.barrio.searchText"
            md-highlight-flags="^i"
            >
            {{item.titulo}}
          </span>
        </md-item-template>
        </md-autocomplete>
      </div>
      <div
        flex
        layout="row"
      >
        <md-input-container
          flex
        >
          <label>Teléfono</label>
          <input
            type="text"
            ng-model="general.cuerpo.data.telefono"
            ng-blur="general.cuerpo.blur('telefono')"
          >
        </md-input-container>
        <md-input-container
          flex
        >
          <label>Email</label>
          <input
            type="text"
            ng-model="general.cuerpo.data.email"
            ng-blur="general.cuerpo.blur('email')"
          >
        </md-input-container>
      </div>
    </div>
  </div>
</form>
