<md-content
    flex
    layout="column"
    layout-margin
    md-whiteframe="4dp"
>
  <div
    layout="row"
    md-whiteframe="1dp"
  >
    <form
      flex
      layout="row"
      ng-submit="idx.roles.search.restart()"
      layout-margin
    >
      <md-input-container
        flex
      >
        <label>Buscar Roles</label>
        <input
          type="text"
          ng-model="idx.roles.search.txt"
        >
      </md-input-container>
      <md-button
        class="md-icon-button  md-primary md-secondary md-raised"
        type="submit"
      >
        <md-icon md-svg-icon="magnify"></md-icon>
        <md-tooltip>
          Buscar
        </md-tooltip>
      </md-button>
      <!-- <md-button
        ng-click="idx.roles.btn.crear($event)"
        class="md-icon-button md-primary md-secondary md-raised"
      >
        <md-icon md-svg-icon="plus-circle-outline"></md-icon>
        <md-tooltip>
          Agregar
        </md-tooltip>
      </md-button>
      <md-button
        ng-if="idx.roles.search.selected.length"
        ng-click="idx.roles.search.eliminar($event)"
        class="md-icon-button md-primary md-secondary md-warn md-button md-ink-ripple ng-scope md-raised"
      >
        <md-icon md-svg-icon="close"></md-icon>
        <md-tooltip>
          Eliminar
        </md-tooltip>
      </md-button> -->
    </form>
  </div>
  <md-content
    flex
    layout="row"
  >
    <md-content
      flex
      layout="row"
      md-whiteframe="2"
      md-lazy-load-container
      class="col-lg-8 col-md-8 col-sm-8 col-xs-12 datagrid"
    >
      <div class="table-responsive" flex layout="row">
        <table>
        <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Descripcion</th>
              <th>Creado</th>
              <!-- <th>Opciones</th> -->
            </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="item in idx.roles.search.items"
            ng-click="idx.roles.search.seleccionado(item)"
            ng-class="{'check': item.check}"
          >
            <td>
              <!-- {{ item.usuarioblog.foto }} -->
              <img
                class="md-avatar perfil"
                height="100px"
                width="100px"
              >
            </td>
            <td>
              {{ item.usuarioblog.nombre }}
            </td>
            <td>
              {{ item.rol.titulo}}
            </td>
            <td>
              {{ item.rol.descripcion }}
            </td>
            <td>
              {{ item.createdAt | amDateFormat:'DD/MM/YYYY' }}
            </td>
            <!-- <td>
              <md-button
                ng-click="idx.roles.btn.crear($event, item)"
                class="md-icon-button md-primary md-secondary md-raised"
              >
                <md-icon md-svg-icon="eye"></md-icon>
                <md-tooltip>
                  Ver
                </md-tooltip>
              </md-button>
            </td> -->
          </tr>
        </tbody>
        </table>
      </div>
    </md-content>
  </md-content>
</md-content>
