<div
  flex
  layout="column"
  layout-margin
  md-whiteframe="1"
>
<div
    layout="row"
>
  <form
    flex
    layout="row"
    ng-submit="ubicacion.cuerpo.pais.search.restart()"
    layout-margin
  >
    <md-input-container flex>
      <label>Buscar Pais</label>
      <input type="text" ng-model="ubicacion.cuerpo.pais.search.txt">
    </md-input-container>
    <md-button
      type = "submit"
      class="md-icon-button  md-primary md-secondary md-raised"
    >
      <md-icon md-svg-icon="magnify"></md-icon>
      <md-tooltip>
        Buscar Pais
      </md-tooltip>
    </md-button>
    <md-button
      ng-click="ubicacion.cuerpo.pais.btn.editar($event)"
      class="md-icon-button md-primary md-secondary md-raised"
    >
      <md-icon
       md-svg-icon="plus-circle-outline"
      >
    </md-button>
    <md-button
      ng-click="ubicacion.cuerpo.btn.editar($event, 'pais', true)"
      class="md-icon-button md-primary md-secondary md-raised"
    >
      <md-icon md-svg-icon="pen"></md-icon>
      <md-tooltip>
        Editar
      </md-tooltip>
    </md-button>
    <md-button
      ng-click="ubicacion.cuerpo.ciudad.pais.eliminar($event, item, $index)"
      class="md-icon-button md-primary md-secondary md-warn md-button md-ink-ripple  ng-scope md-raised"
    >
      <md-icon md-svg-icon="close"></md-icon>
      <md-tooltip>
        Eliminar
      </md-tooltip>
    </md-button>
  </form>
</div>
<md-content
  flex
  layout="row"
>
  <md-content
    flex
    layout="row"
    md-whiteframe="2"
    md-lazy-load-container
    class="col-lg-8 col-md-8 col-sm-8 col-xs-12 datagrid"
  >
    <div class="table-responsive" flex layout="row"><table>
      <thead>
          <tr>
            <th>Pais</th>
            <th>Moneda</th>
            <th>Descripcion</th>
            <!-- <th>Opcion</th> -->
          </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="item in ubicacion.cuerpo.pais.search.items"
          ng-click="ubicacion.cuerpo.pais.search.seleccionado(item, idx)"
          ng-class="{'check': item.check}"
        >
          <td>
            {{ item.titulo }}
          </td>
          <td>
            {{ item.moneda }}
          </td>
          <td>
            <span ng-bind-html="item.descripcion"></span>
          </td>
          <!-- <td
            layout="column"
          >
            <md-button
              ng-click="ubicacion.btn.editar($event, 'pais', item)"
              class="md-icon-button md-primary md-secondary"
            >
              <md-icon md-svg-icon="pen"></md-icon>
              <md-tooltip>
                Editar
              </md-tooltip>
            </md-button>
            <md-button
              ng-click="ubicacion.cuerpo.ciudad.pais.eliminar($event, item, $index)"
              class="md-icon-button md-primary md-secondary md-warn md-button md-ink-ripple  ng-scope"
            >
              <md-icon md-svg-icon="close"></md-icon>
              <md-tooltip>
                Eliminar
              </md-tooltip>
            </md-button>
          </td> -->
        </tr>
      </tbody>
      </table>
    </div>
  </md-content>
</md-content>
</div>
