<md-dialog
  class="dialog"
>
  <md-toolbar>
    <div
      flex
      layout="row"
      layout-padding
    >
      <div flex>
        Agregar {{ contrato.cuerpo.titulo }}
      </div>
      <!-- <md-button
        ng-if="contrato.cuerpo.btn.disable"
        class="md-icon-button md-primary md-secondary md-raised"
        ng-click="contrato.cuerpo.generar()"
      >
        <md-icon md-svg-icon="plus-circle"></md-icon>
      </md-button> -->
      <md-button
        class="md-icon-button md-primary md-secondary md-raised md-warn md-button md-ink-ripple  ng-scope"
        ng-click="contrato.cuerpo.btn.close()"
      >
        <md-icon md-svg-icon="close-circle"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content
    flex
    layout="column"
    layout-fill
  >
    <md-tabs
      ng-init="idx=contrato"
      flex
      layout="column"
      class="md-primary flex"
      md-stretch-tabs="always"
      md-selected="selectedIndex"
      md-border-bottom md-autoselect md-swipe-content
    >
      <md-tab flex>
        <md-tab-label>
          <label>Muestra</label>
        </md-tab-label>
        <md-tab-body>
          <section
            flex
            layout="row"
            layout-margin
            ng-include="'views/partials/contrato-muestra.html'">

          </section>
        </md-tab-body>
      </md-tab>
      <md-tab
        flex
        ng-if="!idx.cuerpo.data.id && !idx.cuerpo.data.disable"
      >
        <md-tab-label>
          <label>Productos</label>
        </md-tab-label>
        <md-tab-body>
          <div
            flex
            layout-fill
            layout="row"
            md-whiteframe="1dp"
            ng-include="'views/partials/contrato-producto.html'">

          </div>
        </md-tab-body>
      </md-tab>
      <!-- <md-tab
        flex
        ng-if="!idx.cuerpo.data.id"
      >
        <md-tab-label>
          <label>Seleccionado</label>
        </md-tab-label>
        <md-tab-body>
          <div
            flex
            layout-fill
            layout="row"
            layout-margin
            md-whiteframe="1dp"
            ng-include="'views/partials/contrato-seleccionado.html'">

          </div>
        </md-tab-body>
      </md-tab> -->
      <md-tab flex>
        <md-tab-label>
          <label>Usuario</label>
        </md-tab-label>
        <md-tab-body>
          <div
            flex
            layout-fill
            layout="column"
            layout-margin
            md-whiteframe="1dp"
            ng-include="'views/partials/contrato-usuario.html'">

          </div>
        </md-tab-body>
      </md-tab>
      <md-tab flex>
        <md-tab-label>
          <label>Pago</label>
        </md-tab-label>
        <md-tab-body>
          <div
            flex
            layout-fill
            layout="column"
            layout-margin
            md-whiteframe="1dp"
            ng-include="'views/partials/contrato-pago.html'">

          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions
    layout="row"
    layout-align="space-around center"
  >
    <div
      layout="column"
    >
      <label>Total:</label>
      <span>{{ idx.cuerpo.data.total | currency }}</span>
    </div>
    <div
      layout="column"
    >
      <label>Iva:</label>
      <span>{{ idx.cuerpo.data.iva }}%</span>
    </div>
    <div
      layout="column"
    >
      <label>Total a Pagar:</label>
      <span>{{ idx.cuerpo.data.totalpagar | currency }}</span>
    </div>
    <div>
      <md-button
        ng-if="idx.cuerpo.btn.disable"
        class="md-icon-button md-primary md-secondary md-raised md-button md-ink-ripple  ng-scope"
        ng-click="idx.cuerpo.btn.saved()"
      >
        <md-icon md-svg-icon="content-save"></md-icon>
      </md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
