<div
  flex
  layout="column"
>
  <menu-cms
    layout="row"
    cms-slides="main.config.data"
    cms-config="main.config.config"
  >
  </menu-cms>
  <div
    flex
    layout="row"
  >
    <div
      flex
      layout="row"
    >
      <div
        flex
        layout="column"
      >
        <div
          flex
          layout="row"
        >
          <div
            flex
            class="images1 contenedor1"
            layout="row"
            layout-align="center center"
            ui-sref="tienda"
          >
            <div
              layout="column"
              class="grip-center"
            >
              <h1>Tienda</h1>
              <p>Compras Onlain Seguras</p>
            </div>
          </div>
          <div
            flex
            class="images2"
            layout="row"
            layout-align="center center"
            ui-sref="informacion"
          >
            <div
              layout="column"
              class="grip-center"
            >
              <h1>Informacion</h1>
              <p>informacion de Dilisap Veneficios</p>
            </div>
          </div>
        </div>
        <div
          flex
          class="images3"
        >

        </div>
      </div>
      <div
        flex
        class="images4"
      >

      </div>
    </div>
  </div>
</div>
